<div class="relative bg-navy-900 text-white overflow-hidden">

  <!-- Decorative anchor watermark -->
  <div class="absolute right-8 top-1/2 -translate-y-1/2 text-[180px] opacity-5 leading-none select-none hidden lg:block">⚓</div>

  <div class="relative max-w-screen-xl mx-auto px-4 lg:px-6 py-14">
    <h1 class="text-4xl lg:text-5xl font-heading">{{ title }}</h1>
  </div>

  <!-- Wave bottom into white -->
  <svg viewBox="0 0 1440 50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" class="block w-full -mb-px">
    <path d="M0,25 C360,50 1080,0 1440,25 L1440,50 L0,50 Z" fill="white"/>
  </svg>

</div>
