---
title: Join Our Crew
description: Join the Land Shark Tours team in Santa Barbara, CA. We're looking for enthusiastic tour guides and crew members who love the ocean, wildlife, and sharing Santa Barbara with visitors.
keywords: Land Shark Tours jobs, Santa Barbara tour guide jobs, amphibious tour employment, Santa Barbara tourism jobs
---

{% extends "layouts/base.njk" %}

{% block content %}

  {% include "components/page-hero.njk" %}

  <section class="bg-sand">
    <iframe src="https://reservationgenie.com/{{ client.rgPath }}/employment_form" width="100%" height="720" frameborder="0" style="border: none;"></iframe>
  </section>

{% endblock %}
