---
title: Gift Cards
---

{% extends "layouts/base.njk" %}

{% block content %}
  <section>
    <iframe src="https://reservationgenie.com/{{ client.rgPath }}/gift_card_widget" width="100%" height="500" frameborder="0" style="border: none;"></iframe>
  </section>
{% endblock %}
